/* src/app/views/navigation/navigationView.scss */
@import '../../../style/main';

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: $zindex-2;
  top: 0;
  left: 0;
  background-color: $color-black-solid;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: left;

  @include vp-xs {
    text-align: center;
  }

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $color-gray-solid;
    display: block;
    transition: 0.3s;

    &:hover{
      color: $color-white-smoke;
    }
  }

  &__closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  &__burger {
    font-size: 30px;
    cursor: pointer;

    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: $zindex-1;
    padding: 1rem;
    background-color: $color-gray-moon;
    color: $color-black-solid;
  }

  &__active {
    color: $color-white-paper-white !important;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}
