<div class="row home">
  <div class="col-xs-12 home__headline">
    {{home.bookYourParking}} {{home.departureAirport}}
  </div>
  <div class="col-xs-12 home__image" ng-show="showParking">
    <div class="col-xs-8 col-md-6">
      {{home.featuresTitle}}
    </div>
    <div class="col-xs-4 col-md-6">
      <span class="home__logo pull-right">{{logo}}</span>
    </div>
    <div class="col-xs-12 col-md-6">
      <img ng-src="{{home.map}}" class="img-responsive img-thumbnail">
    </div>
    <div class="col-xs-12 col-md-6 home__listing">
      <ul class="fa-ul">
        <li ng-repeat="item in home.features"><i class="fa-li fa fa-check" aria-hidden="true"></i>{{item}}</li>
      </ul>
      <a href="/parking" class="btn btn-warning btn-l home__button--booking ng-binding">
        {{booknow}}
      </a>
    </div>
  </div>
  <div class="col-xs-12">
    <a href="#" ng-click="showParking = !showParking; changeClass()" class="pull-right btn btn-info btn-xs home__button {{className}}">
      {{showParking ? hide : show}}
    </a>
  </div>
</div>
