<div class="row">
  <div class="alert alert-success alert-dismissible" role="alert" ng-show="toggleAlert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hideAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{alertCongrats}}</strong> {{alertSentence1}} <strong>{{id}}</strong> {{alertSentence2}}
  </div>
</div>

<div class="row cart__wrapper" ng-if="cart.length > 0">
  <div class="col-xs-12 cart__container">
    <strong>{{cart.length}}</strong> {{itemsInCart}} |
    <a href="#" ng-click="showCart = !showCart;showCartContent()" class="cart__link">
      {{showCart ? hideMyCart : showMyCart}}
    </a> |
    <a href="#" ng-click="emptyCart()" class="cart__link">
      {{emptyMyCart}}
    </a>
  </div>

  <div class="col-xs-6 col-md-2 pull-right cart__content" ng-show="showCart">
    <ul class="cart__ul">
      <li class="cart__li" ng-repeat="item in cart">
        {{parkingSlot}}: {{item.id}}<br />
        {{price}}: {{item.price}}
      </li>
    </ul>
  </div>
</div>

<div class="row parking">
  <div id="parkingSlots" class="parking__wrapper">
    {{noitems}}

    <div ng-if="home.parkings.length > 0" id={{item.id}} class="col-xs-12 col-md-6 parking__item" ng-repeat="item in home.parkings" ng-click="showAlert(item.id, item.price)">
      <div ng-if="item.indoor">
        <i class="fa fa-car" aria-hidden="true"></i> {{home.indoorparking}}
      </div>
      <div ng-if="!item.indoor">
        <i class="fa fa-car notavaiable" aria-hidden="true"></i><i class="linethrough linethrough--car"></i> {{home.noindoorparking}}
      </div>
      <div ng-if="item.insurance">
        <i class="fa fa-list-alt" aria-hidden="true"></i> {{home.insurance}}
      </div>
      <div ng-if="!item.insurance">
        <i class="fa fa-list-alt notavaiable" aria-hidden="true"></i><i class="linethrough linethrough--insurance"></i> {{home.noinsurance}}
      </div>
      <div>
        <i class="fa fa-eur" aria-hidden="true"></i> {{item.price}}
      </div>
    </div>
  </div>
</div>
