<div class="row">
  <div class="alert alert-success alert-dismissible" role="alert" ng-show="toggleAlert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hideAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{home.alertCongrats}}</strong> {{home.alertSentence1}} <strong>{{id}}</strong> {{home.alertSentence2}}
  </div>
</div>

<div class="row parking">
  <div class="parking__wrapper">
    {{noitems}}

    <div ng-if="home.parkings.length > 0" id={{item.id}} class="col-xs-12 col-md-6 parking__item" ng-repeat="item in home.parkings" ng-click="showAlert(item.id)">
      <div ng-if="item.indoor">
        <i class="fa fa-car" aria-hidden="true"></i> {{home.indoorparking}}
      </div>
      <div ng-if="!item.indoor">
        <i class="fa fa-car notavaiable" aria-hidden="true"></i><i class="linethrough linethrough--car"></i> {{home.noindoorparking}}
      </div>
      <div ng-if="item.insurance">
        <i class="fa fa-list-alt" aria-hidden="true"></i> {{home.insurance}}
      </div>
      <div ng-if="!item.insurance">
        <i class="fa fa-list-alt notavaiable" aria-hidden="true"></i><i class="linethrough linethrough--insurance"></i> {{home.noinsurance}}
      </div>
      <div>
        <i class="fa fa-eur" aria-hidden="true"></i> {{item.price}}
      </div>
    </div>
  </div>
</div>
