/* src/app/views/parking/parkingView.scss */
@import '../../../style/main';

.parking {
  min-height: 100px;
  border: 1px solid $color-cerulean;
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  background-color: $color-cerulean;
  margin-bottom: 5rem !important;

  @include vp-m {
    margin-bottom: 0 !important;
  }

  &__item {
    padding: 10px;
    border: 1px solid $color-black-solid;
    margin: 5px;
    margin-left: 0;
    cursor: pointer;

    @include vp-l {
      width: 48%;
    }

    &:nth-child(even) {
      background-color: $color-relax;
    }

    &:nth-child(odd) {
      background-color: $color-family;

      @include vp-l {
        margin-left: 1.5%;
      }
    }
  }
}

.cart {

  &__container {
    text-align: right;
    margin-top: -10px;
    padding-right: 0;

    @include vp-l {
      margin-top: -20px;
    }
  }

  &__content {
    text-align: right;
    padding: 10px 20px;
    width: 200px;
    border: 1px solid $color-white-paper-white;
    border-radius: 5px;
    margin: 10px 0;
    padding-bottom: 0;
  }

  &__ul {
    list-style-type: none;
  }

  &__li {
    border-bottom: 1px dashed $color-white-paper-white;
    padding: 5px 0;

    &:last-child {
      border-bottom: none;
    }
  }

  &__link {
    color: $color-white-paper-white;
    text-decoration: none;

    &:link,
    &:hover,
    &:active,
    &:visited {
      color: $color-white-paper-white;
      text-decoration: none;
    }
  }
}
