/* src/app/views/footer/footerView.scss */
@import '../../../style/main';

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $color-gray-moon;
  color: $color-black-solid;

  @include vp-xs {
    text-align: center;
  }

  &__link {
    color: $color-black-solid;

    &:hover {
      color: $color-black-solid;
    }
  }
}
