//
// Colors
// Find a color name:
// http://chir.ag/projects/name-that-color/#6195ED
// --------------------------------------------------

$color-black-solid: #000000;
$color-white-paper-white: #ffffff;
$color-white-smoke: #f5f5f5;

$color-gray-moon: #b7b7b7;
$color-gray-solid: #808080;

$color-family: #019c8b;
$color-monza: #C7031E;
$color-relax: #ffa00f;
$color-stars: #f7b937;

$color-cerulean: #0097d9;
$color-cobalt: #0147A7;
